@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap'); /* Importa a fonte Krona One e Montserrat do Google Fonts*/

* { /* Selecoina todos os elementos dentro da página HTML */
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(18, 19, 94);
    color: rgb(202, 202, 202);
    height: 100vh; /* 100% do tamanho do viewport definido para esta tag no HTML */
    box-sizing: border-box;  /* Define o limite do tamanho dos elementos filhos para o limite do tamanho desta tag, não podendo eles ultrapassar otamanho desta tag */
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    margin: 10% 15%; /* Margem superior/inferior e margem esquerda/direita */
    display: flex;
    align-items: center; /* Alinha os itens para ficar alinhados ao centro um do outro */
    justify-content: space-between; /* O espaçamento entre os itens será igual para cada um */
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link {
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none; /* Retira o sublinhado do texto de um elemento <a>*/
    color: black;
    font-family: 'Montserrat', sans-serif;
}

/* ENTENDER O PQ QUE A IMAGEM ESTÁ SEM MARGEM ESQUERDA EM COMPARAÇÂO COM O ORIGINAL */